*{
    /* overflow-x: hidden;
    overflow-Y: hidden; */
}

body{
    font-family: 'Libre Franklin', sans-serif;
}

#img_banner{       
    background-image: url("../images/banner.jpg");
}
.bar_top{
    height: 1.4Vh;
    width: 100Vw;
    background-color: white;
}
.btn_aqui{
    color: whitesmoke !important;
    border: 1px solid whitesmoke !important;
}

.btn_aqui:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.full_screen{
    background-color: #c9eec9;
    width: 100Vw;
    height: 100Vh;
}

.center{
    text-align: center;
}

#btn_voltar:hover{
    cursor: pointer;
}

.carrousel{
    height: 70Vh !important;
    width: 80Vw !important;    
}

.slide_carrousel{
    height: 50Vh !important;
    width: 60Vw !important;
}

.green{
    color: #075F2C;
}

.slide_carrousel_item{
    height: 50Vh !important;
    width: 60Vw !important;
}

.fundo_title{
    background-color: aliceblue;
}

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .prev-slide,
  .next-slide {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .prev-slide:hover,
  .next-slide:hover {
    background-color: #ccc;
  }

  #card_carrousel{
    height: 60Vh; 
    width: 80Vw;
  }

@media only screen and (max-width: 600px) {
    .slide_carrousel{
        height: 20Vh !important;
        width: 100% !important;
    }
    .slide_carrousel_item{
        height: 20Vh !important;
        width: 100% !important;
    }
    #card_carrousel{
        height: 30Vh; 
        width: 100Vw;
    }    
  }